[Unit]
Description=SilverBullet

[Container]
ContainerName=silverbullet
Image=ghcr.io/silverbulletmd/silverbullet
Environment=SB_USER=CHANGE_ME
Volume=%h/volumes/silverbullet/space:/space
Network=caddy.network

[Service]
Restart=always

[Install]
WantedBy=default.target
