[Unit]
Description=SilverBullet
After=network-online.target

[Container]
Image=docker.io/zefhemel/silverbullet
Volume=%h/volumes/silverbullet/data:/space
Environment=SB_USER=user:password
Network=caddy.network
UserNS=keep-id
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
