APP_KEY=your-32-char-app-key
APP_URL=https://firefly.example.org
DB_HOST=firefly-db
DB_PORT=5432
DB_CONNECTION=pgsql
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=changeme
TRUSTED_PROXIES=**
TZ=UTC

POSTGRES_DB=firefly
POSTGRES_USER=firefly
POSTGRES_PASSWORD=changeme
