[Unit]
Description=PostgreSQL for Firefly III

[Container]
ContainerName=firefly-db
Image=docker.io/library/postgres:16-alpine
Volume=%h/volumes/firefly/db:/var/lib/postgresql/data
EnvironmentFile=%h/volumes/firefly/.env
Network=firefly.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
