[Unit]
Description=Firefly III - personal finance manager
After=firefly-db.service

[Container]
ContainerName=firefly
Image=docker.io/fireflyiii/core:latest
EnvironmentFile=%h/volumes/firefly/.env
Network=caddy.network
Network=firefly.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
