[Unit]
Description=Wallabag read-it-later service
After=network-online.target
After=wallabag-redis.service

[Container]
ContainerName=wallabag
Image=docker.io/wallabag/wallabag:latest
Volume=%h/volumes/wallabag/data:/var/www/wallabag/data
Volume=%h/volumes/wallabag/images:/var/www/wallabag/web/assets/images
EnvironmentFile=%h/volumes/wallabag/.env
Network=caddy.network
Network=wallabag.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
