[Unit]
Description=Redis for Wallabag
After=network-online.target

[Container]
ContainerName=wallabag-redis
Image=docker.io/library/redis:7-alpine
Volume=%h/volumes/wallabag/redis:/data
Network=wallabag.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
