[Unit]
Description=VersityGW - S3-compatible gateway

[Container]
ContainerName=versitygw
Image=ghcr.io/versity/versitygw:latest
Exec=posix /tmp/gw
Volume=%h/volumes/versitygw/data:/tmp/gw
EnvironmentFile=%h/volumes/versitygw/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
