[Unit]
Description=Espial bookmark manager
After=network-online.target

[Container]
ContainerName=espial
Image=docker.io/jonschoning/espial:espial
Volume=%h/volumes/espial/data:/app/data
EnvironmentFile=%h/volumes/espial/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
