READECK_MAIL_HOST=smtp.example.com
READECK_MAIL_PORT=465
READECK_MAIL_USERNAME=your-email@example.com
READECK_MAIL_PASSWORD=your-smtp-password
READECK_MAIL_ENCRYPTION=ssltls
READECK_MAIL_FROM=readeck@example.org
