[Unit]
Description=Cloudflare Tunnel
After=network-online.target

[Container]
Image=cloudflare/cloudflared:latest
Exec=tunnel run
EnvironmentFile=%h/volumes/cloudflared/.env
Network=host
ReadOnly=true
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
