[Unit]
Description=Caddy reverse proxy
After=network-online.target

[Container]
ContainerName=caddy
Image=ghcr.io/juev/caddy:latest
Exec=caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=%h/volumes/caddy/data:/data:Z
Volume=%h/volumes/caddy/config:/config:Z
Volume=%h/.config/containers/systemd/configs/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=%h/volumes/caddy/site:/srv:ro,Z
Environment=CLOUDFLARE_API_TOKEN=CHANGE_ME
Network=caddy.network
DNS=1.1.1.1
DNS=8.8.8.8
AutoUpdate=registry

[Service]
Restart=always
ExecReload=podman exec caddy caddy reload --config /etc/caddy/Caddyfile --force

[Install]
WantedBy=default.target
