[Unit]
Description=FreshRSS
After=network-online.target

[Container]
ContainerName=freshrss
Image=docker.io/freshrss/freshrss:latest
Volume=%h/volumes/freshrss/data:/var/www/FreshRSS/data
Volume=%h/volumes/freshrss/extensions:/var/www/FreshRSS/extensions
EnvironmentFile=%h/volumes/freshrss/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
