[Unit]
Description=Loki
After=network-online.target

[Container]
ContainerName=loki
Image=docker.io/grafana/loki:latest
Volume=%h/volumes/loki/data:/loki:Z
Volume=%h/.config/containers/systemd/configs/loki/loki-config.yaml:/etc/loki/config.yaml:ro,Z
Exec=-config.file=/etc/loki/config.yaml
UserNS=keep-id:uid=10001
Network=caddy.network
DNS=1.1.1.1
DNS=8.8.8.8
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
