[Unit]
Description=Shiori bookmark manager
After=network-online.target

[Container]
ContainerName=shiori
Image=ghcr.io/go-shiori/shiori:latest
Volume=%h/volumes/shiori/data:/shiori
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
