[Unit]
Description=Alertmanager
After=network-online.target

[Container]
ContainerName=alertmanager
Image=docker.io/prom/alertmanager:latest
Volume=%h/volumes/alertmanager/data:/alertmanager:Z
Volume=%h/.config/containers/systemd/configs/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro,Z
UserNS=keep-id:uid=65534,gid=65534
Network=caddy-private.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
