[Unit]
Description=Baikal - CalDAV+CardDAV server

[Container]
Image=ckulka/baikal:nginx
PublishPort=127.0.0.1:8083:80
Volume=%h/volumes/baikal/config:/var/www/baikal/config
Volume=%h/volumes/baikal/data:/var/www/baikal/Specific
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
