[Unit]
Description=Baikal - CalDAV+CardDAV server

[Container]
ContainerName=baikal
Image=ckulka/baikal:nginx
Volume=%h/volumes/baikal/config:/var/www/baikal/config
Volume=%h/volumes/baikal/data:/var/www/baikal/Specific
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
