DATABASE_URL=postgres://miniflux:changeme@miniflux-db:5432/miniflux?sslmode=disable
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
POLLING_FREQUENCY=15
BASE_URL=https://reader.example.org
