[Unit]
Description=Miniflux RSS Reader
After=network-online.target
After=miniflux-db.service

[Container]
Image=docker.io/miniflux/miniflux:latest
PublishPort=127.0.0.1:3005:8080
EnvironmentFile=%h/volumes/miniflux/.env
Network=caddy.network
Network=miniflux.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
