[Unit]
Description=WebDAV server (rclone)
After=network-online.target

[Container]
ContainerName=webdav
Image=docker.io/rclone/rclone:latest
Exec=serve webdav /data --addr :8080 --read-only=false
Volume=%h/volumes/webdav/data:/data:Z
UserNS=keep-id:uid=1001,gid=1001
Network=caddy.network
DNS=1.1.1.1
DNS=8.8.8.8
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
