[Unit]
Description=V2Ray Proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=v2fly/v2fly-core
PublishPort=1080:1080/tcp
PublishPort=1080:1080/udp
PublishPort=8080:8080
Volume=%h/volumes/v2ray/config.json:/etc/v2fly/config.json:ro
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
