[Unit]
Description=MediaWiki
After=network-online.target
Wants=network-online.target

[Container]
Image=mediawiki:latest
PublishPort=127.0.0.1:8081:80
Volume=%h/volumes/mediawiki/images:/var/www/html/images
Volume=%h/volumes/mediawiki/data:/var/www/data
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
