[Unit]
Description=Linkwarden bookmark manager
After=network-online.target
After=linkwarden-db.service

[Container]
ContainerName=linkwarden
Image=ghcr.io/linkwarden/linkwarden:latest
Volume=%h/volumes/linkwarden/data:/data/data
EnvironmentFile=%h/volumes/linkwarden/.env
Network=caddy.network
Network=linkwarden.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
