[Unit]
Description=PostgreSQL for Linkwarden
After=network-online.target

[Container]
Image=postgres:16-alpine
Volume=%h/volumes/linkwarden/pgdata:/var/lib/postgresql/data
EnvironmentFile=%h/volumes/linkwarden/.env
Network=linkwarden.network

[Service]
Restart=always

[Install]
WantedBy=default.target
