[Unit]
Description=Yarr RSS Reader
After=network-online.target

[Container]
ContainerName=yarr
Image=localhost/yarr:latest
Volume=%h/volumes/yarr/data:/data
UserNS=keep-id
Network=caddy.network

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
