[Unit]
Description=Fusion RSS Reader
After=network-online.target

[Container]
Image=docker.io/rook1e404/fusion:latest
PublishPort=127.0.0.1:8080:8080
Volume=%h/volumes/fusion/data:/data
EnvironmentFile=%h/volumes/fusion/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
