DB_HOST=standardnotes-db
DB_PORT=3306
DB_USERNAME=standardnotes
DB_PASSWORD=changeme
DB_DATABASE=standardnotes
DB_TYPE=mysql
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=standardnotes
MYSQL_USER=standardnotes
MYSQL_PASSWORD=changeme
