[Unit]
Description=Standard Notes Redis
After=network-online.target

[Container]
ContainerName=standardnotes-redis
Image=docker.io/library/redis:7-alpine
Volume=%h/volumes/standardnotes/redis:/data
Network=standardnotes.network

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
