[Unit]
Description=Standard Notes MySQL
After=network-online.target

[Container]
ContainerName=standardnotes-db
Image=docker.io/library/mysql:8
Volume=%h/volumes/standardnotes/mysql:/var/lib/mysql
EnvironmentFile=%h/volumes/standardnotes/.env
Network=standardnotes.network

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
