[Unit]
Description=Standard Notes LocalStack
After=network-online.target

[Container]
ContainerName=standardnotes-localstack
Image=docker.io/localstack/localstack:3
Environment=SERVICES=sns,sqs,s3
Environment=HOSTNAME_EXTERNAL=localstack
Network=standardnotes.network

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
