[Unit]
Description=Prometheus
After=network-online.target

[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus:latest
Volume=%h/volumes/prometheus/data:/prometheus:Z
Volume=%h/.config/containers/systemd/configs/prometheus.yml:/etc/prometheus/prometheus.yml:ro,Z
UserNS=keep-id:uid=65534,gid=65534
Network=caddy.network
DNS=1.1.1.1
DNS=8.8.8.8
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
