[Unit]
Description=DokuWiki
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/dokuwiki:latest
PublishPort=127.0.0.1:8080:80
Volume=%h/volumes/dokuwiki/config:/config
EnvironmentFile=%h/volumes/dokuwiki/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
