[Unit]
Description=DokuWiki
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=dokuwiki
Image=lscr.io/linuxserver/dokuwiki:latest
Volume=%h/volumes/dokuwiki/config:/config
EnvironmentFile=%h/volumes/dokuwiki/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
