[Unit]
Description=MariaDB for LinkAce
After=network-online.target

[Container]
ContainerName=linkace-db
Image=docker.io/library/mariadb:11
Volume=%h/volumes/linkace/db:/var/lib/mysql
EnvironmentFile=%h/volumes/linkace/.env
Network=linkace.network

[Service]
Restart=always

[Install]
WantedBy=default.target
