[Unit]
Description=Redis for LinkAce
After=network-online.target

[Container]
ContainerName=linkace-redis
Image=docker.io/library/redis:7-alpine
Volume=%h/volumes/linkace/redis:/data
Network=linkace.network

[Service]
Restart=always

[Install]
WantedBy=default.target
