[Unit]
Description=Wiki.js
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/requarks/wiki:2
PublishPort=127.0.0.1:3000:3000
Volume=%h/volumes/wiki-js/data:/data
Environment=DB_TYPE=sqlite
Environment=DB_FILEPATH=/data/wiki.db
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
