[Unit]
Description=Wiki.js
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=wiki-js
Image=ghcr.io/requarks/wiki:2
Volume=%h/volumes/wiki-js/data:/data
EnvironmentFile=%h/volumes/wiki-js/.env
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
