[Unit]
Description=Vaultwarden
After=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
PublishPort=127.0.0.1:3004:80
Volume=%h/volumes/vaultwarden/data:/data
Environment=DOMAIN=https://vault.example.com
Network=caddy.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
