[Unit]
Description=Betula bookmarks
After=network-online.target

[Container]
Image=localhost/betula:latest
Volume=%h/volumes/betula/data:/data
UserNS=keep-id
Network=caddy.network

[Service]
Restart=always

[Install]
WantedBy=default.target
