[Unit]
Description=MTG - Telegram proxy

[Container]
ContainerName=mtg
Image=docker.io/nineseconds/mtg:stable
PublishPort=443:443
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
