[Unit]
Description=Mycorrhiza Wiki
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=mycorrhiza
Image=localhost/mycorrhiza:latest
Volume=%h/volumes/mycorrhiza/wiki:/wiki
UserNS=keep-id
Network=caddy.network

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
