[Unit]
Description=WireGuard VPN
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=wireguard
Image=lscr.io/linuxserver/wireguard:latest
AutoUpdate=registry
PublishPort=51820:51820/udp
Volume=%h/volumes/wireguard/config:/config
EnvironmentFile=%h/volumes/wireguard/.env
AddCapability=NET_ADMIN
AddCapability=SYS_MODULE
Sysctl=net.ipv4.conf.all.src_valid_mark=1

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
