[Unit]
Description=Tor SOCKS Proxy
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=tor-socks-proxy
Image=ghcr.io/peterdavehello/tor-socks-proxy:latest
PublishPort=127.0.0.1:8853:53/udp
PublishPort=127.0.0.1:9150:9150/tcp
Volume=%h/.config/containers/systemd/configs/tor/torrc:/etc/tor/torrc:ro
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
