[Unit]
Description=Valkey cache for SearXNG

[Container]
ContainerName=searxng-valkey
Image=docker.io/valkey/valkey:8-alpine
Exec=valkey-server --save 30 1 --loglevel warning
Volume=%h/volumes/searxng-valkey/data:/data:Z
UserNS=keep-id:uid=999,gid=1000
Network=searxng_cache.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
