[Unit]
Description=N8N - workflow automation

[Container]
Image=docker.n8n.io/n8nio/n8n
PublishPort=127.0.0.1:3003:5678
Volume=%h/volumes/n8n/data:/home/node/.n8n
EnvironmentFile=%h/volumes/n8n/.env
Network=caddy.network
UserNS=keep-id
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
