SECRET_KEY=change-me-to-random-hex-string
UTILS_SECRET=change-me-to-another-random-hex-string
DATABASE_URL=postgres://outline:changeme@outline-db:5432/outline
REDIS_URL=redis://outline-redis:6379
URL=https://outline.example.org
FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
