[Unit]
Description=Outline Wiki
After=network-online.target
After=outline-db.service
After=outline-redis.service

[Container]
ContainerName=outline
Image=docker.getoutline.com/outlinewiki/outline:latest
Volume=%h/volumes/outline/storage:/var/lib/outline/data
EnvironmentFile=%h/volumes/outline/.env
Network=caddy.network
Network=outline.network
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
