[Unit]
Description=Outline PostgreSQL
After=network-online.target

[Container]
Image=docker.io/library/postgres:15-alpine
Volume=%h/volumes/outline/database:/var/lib/postgresql/data
Environment=POSTGRES_USER=outline
Environment=POSTGRES_PASSWORD=changeme
Environment=POSTGRES_DB=outline
Network=caddy.network
HealthCmd=pg_isready -U outline

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
